<div *ngIf="IsLocationListLoaded">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="header">
      <img class="ship-logo" src="./assets/ship-logo.jpg" alt="" />
    </mat-grid-tile>
  </mat-grid-list>
  <div class="location-main" *ngIf="true; else showError">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><app-select-location
          [title]="toLocationTitle"
          [locationList]="locationList"
          #toLocation
        ></app-select-location>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-select-location
          [title]="fromLocationTitle"
          [locationList]="locationList"
          #fromLocation
        ></app-select-location>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="#fff" (click)="getSchedules()">
          Get Schedule
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #showError>
    <h2 class="loadingText">s</h2>
  </ng-template>
  <app-schedules-table [schedules]="schedules"></app-schedules-table>
</div>
