<div>Id: {{ info.id }}</div>
<div>Carrier Name: {{ info.carrier.name }}</div>
<div>Carrier Scac: {{ info.carrier.scac }}</div>
<div>Comments: {{ info.comments }}</div>
<div>CutOff: {{ info.cutOff | date }}</div>
<div>CutOffIMO: {{ info.cutOffIMO | date }}</div>
<div>ETA: {{ info.eta | date }}</div>
<div>ETD: {{ info.etd | date }}</div>
<div>Hub: {{ info.hub.name }}</div>
<div>Place Of Receipt: {{ info.placeOfReceipt.name }}</div>
<div>Port Of Loading: {{ info.portOfLoading.name }}</div>
<div>Product Type: {{ info.productType }}</div>
<div>Transit Time Cut Off To Port: {{ info.transitTimeCutOffToPort }}</div>
<div>Transit Time Port To Port: {{ info.transitTimePortToPort }}</div>
<div>Vessel Name: {{ info.vessel.name }}</div>
<div>Vessel IMO Number: {{ info.vessel.imoNumber }}</div>
<div>Voyage Number: {{ info.voyageNumber }}</div>
